
.git
.gitignore
node_modules
__pycache__
.env
.envrc
.venv
# Dockerfile y fly.toml pueden ser ignorados si se pasan explícitamente, pero mejor no arriesgar
# ecosystem.config.js NO debe estar aquí porque el Dockerfile lo necesita
supervisord.conf
